*{
  margin: 0;
  padding: 0;  
}
.photo{
    border: 2px solid black;
    background-image: url("img/myImg.jpg");
    background-size: cover;
    background-position: center;
    min-height: 400px;
   min-width: 340px;
}
body{
    background-color: black;
   
}
.main{
    height: 100vh;
    width: 80vw;
    display: flex;
    gap: 200px;
    align-items: center;
    
    
padding-left: 200px;
}

.content{
    display: flex;
    flex-direction: column;
    font-size: larger;
   
    
    
}
.descrip{
    width: 50%;
    padding-top: 40px;
    color: rgb(65, 58, 58)
    
}
.contact{
    width: 100px;
    height: 20px;
    margin-top: 40px;
    text-align: center;
    border: 2px solid green;
    color: green;
    transition: ease-in 1s;
}
.hd1{
color: green;
font-size: 16px;
font-weight: 700;
}
.hd2{
    color: aliceblue;
    font-size: 35px;
    font-weight: 400;
    }
    .hd3{
        color: green;
        font-size: 35px;
        font-weight: 400;
        }

        .head{
            display: flex;
            gap: 10px;
            font-family: 'Montserrat Alternates', sans-serif;
font-family: 'Smooch Sans', sans-serif;


        }
        .contact:hover{
            background-color: green;
            color: aliceblue;
        }
@media(max-width:1000px){
    .main{
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
        align-content: center;
        gap: 10%;
        justify-content: center;
        
        
        

    }
    
    .hd1{
        flex: 2;
        display: flex;
        flex-direction: column;
        
    }
    .photo{
        margin-top: 100px;
        padding: 0;
        margin-left: 20%;
       max-height: 450px;
       min-height:400px;
       width: 80%;
    }
    .content{
        display: flex;
        align-items: center;
        justify-content: center;
        
       
    }
    


}